<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>윈도우 실행 / 종료 이벤트</title>
    <style>
        .beforeunload {
            color: red;
            font-size: 30px;
        }

        .unload {
            color: blue;
            font-size: 30px;
        }
    </style>
</head>

<body>

    <div class="beforeunload"></div>
    <div class="unload"></div>
    <script src="/static/js/time.js"></script>
</body>
</body>

</html>